extends layout

block content
  h1= title
  if messages.length
    
    if user 
      if user.membership || user.admin
        ul
          each message in messages
            li
              p #{message.user.name} (#{message.timestampFormatted}) 
                  <br> #{message.text}
              if user.admin 
                  a(class="button" href=message.url+'/delete') X
      else 
        ul
          each message in messages
            li
              p User ??? (Date ???) 
                  <br> #{message.text}
    else
      ul
        each message in messages
          li
            p User ??? (Date ???) 
                <br> #{message.text}

  else
    p There are no messages. 

  div.messageInput
    if user
      form(action="" method="POST")
            label(for="message") Message <br>
            textarea(name="message" placeholder="message" type="text" rows="4" cols="58")
            <br>
            button Send
    else 
      p Sign in to send messages.